$surface-color: #121212;
$elevation-01: #1e1e1e;
$elevation-02: #232323;
$elevation-03: #252525;
$elevation-04: #272727;
$elevation-06: #2c2c2c;
$elevation-08: #2f2f2f;
$elevation-12: #333333;
$elevation-16: #353535;
$elevation-24: #383838;

$high-emphasis-text: rgba(255, 255, 255, 87%);
$medium-emphasis-text: rgba(255, 255, 255, 60%);
$disabled-emphasis-text: rgba(255, 255, 255, 38%);

$default-hor-padding: 0 25px;
